/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------- */

body {
    font-family: 'Open Sans';
}

/* Header */
header {
    background-color: #091F2F;
    padding: 0 20px;
    height: 48px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 80px;
}

header span {
    color: #d6d6d6;
    margin: 15px;
    padding: 16px;
}

header ul {
    display: flex;
    margin-bottom: 0;
}

header ul li {
    list-style-type: none;
    padding: 20px;
}

header ul li a {
    text-decoration: none;
    color: rgb(214, 214, 214);
}

/* Side menu */

.content {
    display: flex;
}

aside {
    background-color: #F7F7F7;
    height: 100%;
    padding-top: 4.5em;
    min-width: 180px;
}
aside ul li i {
    font-size: 20px;
    margin-right: 7px;
}

aside ul li {
    padding: 16px 0 16px 0;
    margin-right: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dae1e8;
    box-shadow: 0 2px 1px -1px #FFFFFF;
    color: #6e829b;
    outline: 0px;
    line-height: 21px;
    font-size: 13px;
    cursor: pointer;
}

aside ul li:hover {
    font-weight: bold;
    color: rgb(51, 69, 90);
}

/* Main */
.main-index {
    padding-top: 50px;
    padding-left: 50px;
    border-left: 1px solid #dae3e9;
    background-color: #fff;
}

.main-index h1 {
    font-size: 28px;
    color: #29323d;
    margin-bottom: 10px;
    width: 100%;
}

.main-index a {
    color: #337ab7;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

/* main h2 {
    margin-top: 50px;
    font-size: 13px;
    color: #555;
    border: 1px solid #ddd;
    border-bottom: transparent;
    border-radius: 4px 4px 0 0;
    width: 120px;
    padding: 10px 15px;
} */

.planejamento {
    padding: 25px 0px;
    width: 77vw;
}

.planejamento-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.planejamento-area i {
    font-size: 38px;
    color: aliceblue;
    margin-right: 20px;
}

.planejamento-area .ativo {
    color: #44B83F;
}

.planejamento-area span, a {
    font-size: 14px;
}

.planejamento-area a {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: normal;
}

/* nav */

.nav-link{
    margin-top: 38px;
    font-weight: normal;
    font-size: 13px;
}


/* página 2 */

.informacoes-evento {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacoes-card {
    margin-top: 50px;
}

.informacoes-card:last-child {
    margin-bottom: 70px;
}

.informacoes-card div {
    margin-bottom: 25px;
}

.informacoes-card h2 {
    font-size: 27px;
    font-weight: bold;
    color: #29323d;
    margin: 0;
}

.informacoes-card p {
    font-size: 13px;
}

.informacoes-card i {
    float: left;
    font-size: 36px;
    color: #E5E7EB;
    margin-right: 15px;
}

.informacoes-card .botao {
    float: right;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #449d44;
    color: white;
}

.informacoes-card .button-boot {
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #449d44;
    float: right;
    font-size: 14px;
}

.informacoes-card .button-boot:hover {
    background-color: #449d44;
}
/* 
.informacoes-card .button-boot:visited {
    background-color: #449d44;
} */

form input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
}

form input, label {
    display: block;
    width: 100%;
}

form label {
    font-size: 13px;
}

form select option {
    width: 505px;
}

form textarea {
    width: 100%;
    margin-bottom: 20px;
}
.drop-option {
    display: block;
}


























/* responsividade */
@media (max-width: 600px)
{
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        text-align: center;
        padding: 0;
    }

    header img {
        margin-top: 15px;
    }
    header div span{
        display: block;
        padding: 0;
        margin: 15px 0 0 0;
    }

    /* aside */

    aside {
        display: none;
    }

    /* main */

    main .planejamento-area {
        display: flex;
        flex-direction: column;
        padding: 40px 0;
    }

    .planejamento-area div{
        display: flex;
        text-align: center;
        margin-bottom: 15px;
    }
}

@media (max-width: 700px)
{
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        text-align: center;
        padding: 0;
    }

    header img {
        margin-top: 15px;
    }
    header div span{
        display: block;
        padding: 0;
        margin: 15px 0 0 0;
    }

    /* aside */

    aside {
        display: none;
    }

    /* main */

    main .planejamento-area {
        display: flex;
        flex-direction: column;
        padding: 40px 0;
    }

    .planejamento-area div{
        display: flex;
        text-align: center;
        margin-bottom: 15px;
    }
}

@media (max-width: 800px)
{
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        text-align: center;
        padding: 0;
    }

    header img {
        margin-top: 15px;
    }
    header div span{
        display: block;
        padding: 0;
        margin: 15px 0 0 0;
    }

    /* aside */

    aside {
        display: none;
    }

    /* main */

    main .planejamento-area {
        display: flex;
        flex-direction: column;
        padding: 40px 0;
    }

    .planejamento-area div{
        display: flex;
        text-align: center;
        margin-bottom: 15px;
    }
}

.modal-footer .btn-nao {
    border: 1px solid #C4C4C4;
}

.modal-footer .btn-sim {
    background-color: #5CB85C;
    color: white;
}

.modal-footer .btn-sim:hover {
    color: white;
}

.titulo-evento {
    margin-bottom: 10px;
}